
*{
    margin: 0;
    padding: 0;
    font-family: 'Yantramanav';
    
}

h2{
    line-height: 30px;
}


.container{
    width: 100%;
    height: 60vh;
    /*background-image: linear-gradient(#000000b3,#000000b3),url(cyberpunk.jpg);*/
    background-image: url('./notebook-m.png');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor:pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    border: solid 1px white;
    border-radius: 20px;
    background: white;
}



.row{
    display:flex;
    height:88%;
    align-items: center;
    
}

.col{
    flex-basis: 50%;
    
}

h1{
    color: #fff;
    font-size: 100px;

}

.col p{
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    font-style: oblique;
    text-shadow: black 1px 1px 2px;
}

.button-header{
    width: 230px;
    height: 200px;
    outline: none;
    margin-top: 20px;
    margin-bottom: -80px;
    cursor: pointer;
    margin-left: -40px;
}




.sec2{
    flex-direction: column;
}

.sec-i3{
    display: flex;
    padding: 0% 9% 0% 9%;
    background-color: #ffffff7a;
    margin: 1% 0 1% 0;
   
}

@media screen and (max-width: 994px) {
    .sec-i3{
      flex-direction: column;
    }
}    

.txt-i3{
    margin: 11% 0 0 4%;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: rgb(66, 65, 65);
    
    
    
}
.txt-i3 h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.foto-acer{
    
    max-width: 100%;
    width: 600px
  
}

.sec-i5{
    display: flex;
    padding: 1% 9% 1% 9%;
    background-color: #013c42c0;
    margin: 1% 0 1% 0;
    
}

@media screen and (max-width: 994px) {
    .sec-i5{
      flex-direction: column;
    }
}    

.txt-i5{
    margin: 11% 3% 0% 0%;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: rgb(245, 243, 243);
    text-shadow: #919090 1px 1px 2px;
    max-width: 600px;
}
@media screen and (max-width: 994px) {
    .txt-i5{
      margin-bottom: 4%;
    }
}    

.txt-i5 h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.sec-i7{
    display: flex;
    padding: 0% 9% 0% 9%;
    margin: 1% 0 1% 0;
    background-color: #ffffff7a;
    
}
@media screen and (max-width: 994px) {
    .sec-i7{
      flex-direction: column;
    }
}    
.txt-i7{
    margin: 11% 0 0 4%;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: rgb(66, 65, 65);

    
}
.txt-i7 h2{
    font-size: 40px;
    padding-bottom: 10px;
}


.marca{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

@media screen and (max-width: 994px) {
    .marca{
      width: 350px;
      height: auto;
      flex-direction: column;
      margin-left: 30%;
      
    }
}    

.marca img{
    max-width: 100%;
    width: 10%;
    height: 80%;
    margin-top: 3%;
}


@media screen and (max-width: 994px){
    .marca img{
        max-width: 100%;
        width: 50%;
        margin-top: 6%;
    }
}

.sec3{
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    align-items: center;
    
    
    
}

.cardi{
    margin: 2%;
    justify-content: space-around;
    background-color: aquamarine;
}



.sec3-title{
    padding-top: 30px;
    text-align: center;
    background-color: #013c42c0;
    font-size: 30px;
    
}
.sec3-title p{
    font-size: 20px;
    
}

.i3{
    flex: 1 1 150px;
    
}
.i5{
    flex: 1 1 150px;
}
.i7{
    flex: 1 1 150px;
}

footer{
    height: 200px;
    color: #000000;
    padding-left: 50px;
    padding-top: 40px;
    background-color: #051a1a21;
    border-top: solid 2px #00000038;
    line-height: 30px;
}

.footer-class a{
    cursor: pointer;
    outline: none;
    color:black;
    
}